<!--Main Body-->
<div class="container-fluid bg-secondary py-2" id="body" style="height: 100vh;">
    <strong>Impressum</strong><br><br>Inhaltlich Verantwortlicher gemäß § 55 Abs. 1 RStV: <br><br>Dustin Hoppius <br> In de Flaslänne 68, 45770 Marl<br><br>Email: dustin @ hoppius . work

    </div>
</div>